.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: 0px 0px 5px #123456;
  height: 100vh;
  background: linear-gradient(-135deg, rgb(67, 24, 255) 10%, transparent),
    repeating-linear-gradient(
      45deg,
      rgba(67, 24, 255, 1) 0%,
      rgba(31, 48, 94, 0.6) 5%,
      transparent 5%,
      transparent 10%
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(67, 24, 255, 0.4) 0%,
      rgba(31, 48, 94, 0.5) 5%,
      transparent 5%,
      transparent 10%
    );
  background-color: rgba(67, 24, 255, 0.25);
}
